<div class="wrapper" (click)="showDetails()">
    <svg (click)="removeVehicle($event)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-trash3-fill bin" viewBox="0 0 16 16">
        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
      </svg>
      <span *ngIf="bike.status==='free'" class="badge text-bg-success bdg">Available now</span>
      <span *ngIf="bike.status==='rented'" class="badge text-bg-secondary bdg">Rented</span>
      <span *ngIf="bike.status==='broken'" class="badge text-bg-danger bdg">Broken</span>
      <img [src]="bike.image"  (error)="onImageError($event)">
      <p class="manufacturer">{{bike.manufacturer}}</p>
      <div class="row1">
        <p class="model">{{bike.model}}</p>
        <h6 class="amount">€{{bike.price}} <p class="day">/ minute</p> </h6>
    </div>
    <div class="amount">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="currentColor" class="bi bi-arrows" viewBox="0 0 16 16">
            <path d="M1.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L2.707 7.5h10.586l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L13.293 8.5H2.707l1.147 1.146a.5.5 0 0 1-.708.708z"/>
          </svg>
          <p>{{bike.range}}</p>
    </div>
    
</div>