.wrapper {
    background: rgba(255, 255, 255, 0.95); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin: 20px;
    margin-left: 30px;
    width: 85%;
    display: flex;
    flex-direction: column;

}

img {
    height: 180px;
    margin-left: 10%;
    margin-right: 10%;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: flex-start; 
}

.day {
    opacity: 0.5;
    margin-left: 3px;
}

.manufacturer {
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
    opacity: 0.35;
}

.amount {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: flex-end; 
    margin-left: 10px; 
}

.model {
    font-weight: bold;
    flex-grow: 1; 
    word-wrap: break-word; 
    margin-right: 10px;
}

.id {
    font-weight: bold;
    word-wrap: break-word; 
    margin-right: 10px;
    opacity: 0.65;
}


h6{
    margin-top: 2px;
    font-size: 17px;
}


.bdg
{
    width: 120px;
    height: 25px;
    margin-bottom: 10px;
}

.rw
{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

.ic
{
    color:red;
    margin-right: 10px;
}

.description
{
    margin-top:2px;
    word-wrap: break-word;
}

.desc
{
    color:#000;
}

.date
{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    margin-top: 8px;
}

.rw1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}