<div class="noContent" *ngIf="error" >
    <h1>Could not get data...</h1>
</div>

<div class="wrapper"  *ngIf="loading===false && error===false">
    <div class="rw1">
        <div class="top col">
            <div class="col switcher">
              <h3 class="active-tab">Details</h3>
            </div>
          </div>
        <car-details-tab *ngIf="vehicleType==='car' && loading===false && error===false" [car]="vehicle"
        ></car-details-tab>

        <bike-details-tab *ngIf="vehicleType==='bike' && loading===false && error===false" [bike]="vehicle"
        >
        </bike-details-tab>

        <scooter-details-tab *ngIf="vehicleType==='scooter' && loading===false && error===false" [scooter]="vehicle"
        >
        </scooter-details-tab>

        <div class="top">
            <div class="switcher">
              <h3 class="active-tab">Malfunctions</h3>
            </div>
          </div>

          <div class="search search1">
            <input type="text" class="search-bar search-bar1"
             (input)="searchMalfunctions($event)"
             placeholder="Search by date..." />
             <div class="buttons">    
  
                <button type="button" data-bs-toggle="modal" data-bs-target="#addMalfunctionModal" mat-raised-button class="btn btn-primary">
                    Add malfunction&nbsp;<span class="badge text-bg-warning bdge">+</span>
                  </button>
              
              </div>
             
        </div>

          <!-- Table malfunctions -->

          <div class="table col">
            <table id="malfunctions-table" class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Action</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let malfunction of paginatedMalfunctions">
                  <td > 
                    {{ malfunction.dateTime | date:'dd.MM.yyyy.' }}
                  </td>
                  <td > 
                    {{ malfunction.dateTime | date:'HH:mm' }}
                  </td>
                  
                
                <td>
                    <button
                class="btn btn-danger"
                (click)="deleteMalfunction(malfunction)"
          >
            Delete
          </button>
                </td>

                <td>
                    <span 
                      class="badge text-bg-info descr" 
                      (click)="showDescription($event, malfunction.description)"
                    >
                      {{ malfunction.description.length > 10 ? malfunction.description.substring(0, 10) + '...' : malfunction.description }}
                    </span>
                  </td>
                  
                 
                  <div 
                    *ngIf="selectedDescription" 
                    class="tooltip-modal"
                    [ngStyle]="{ top: tooltipPosition.top + 'px', left: tooltipPosition.left + 'px' }"
                    (click)="hideDescription()"
                  >
                    <div class="tooltip-arrow"></div>
                    {{ selectedDescription }}
                  </div>


                </tr>
                <tr *ngIf="paginatedMalfunctions.length === 0">
                  <td [attr.colspan]="4" class="text-center nodata">
                    No data to display!
                  </td>
                </tr>
              </tbody>
            </table>
          
            <nav aria-label="Page navigation" >
              <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPageMalfunctions === 1">
                  <a class="page-link" (click)="changePageMalfunctions(currentPageMalfunctions - 1)">Previous</a>
                </li>
          
                <li 
                  *ngFor="let page of pagesMalfunctions" 
                  class="page-item" 
                  [class.active]="page === currentPageMalfunctions"
                >
                  <a class="page-link" (click)="changePageMalfunctions(page)">{{ page }}</a>
                </li>
          
                <li class="page-item" [class.disabled]="currentPageMalfunctions === totalPagesMalfunctions">
                  <a class="page-link" (click)="changePageMalfunctions(currentPageMalfunctions + 1)">Next</a>
                </li>
              </ul>
            </nav>
          </div>


</div>

<!-- rentals -->
<div class="rw2">
    <div class="top rentals1">
        <div class="switcher">
          <h3 class="active-tab">Rentals</h3>
        </div>
      </div>

      <div class="search">
        <input type="text" class="search-bar"
         (input)="searchRentals($event)"
         placeholder="Search name, date..." />
         
    </div>

      <div class="table col rentals">
        <table id="rentals-table" class="table">
          <thead>
            <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Duration</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rental of paginatedRentals">
                <td class="rw" > 
                    <div class="user-badge bgAdmin" >
                      {{ rental.clientName.charAt(0) | uppercase }}
                    </div>
                    {{ rental.clientName}}
                  </td>
              <td> 
                {{ rental.dateTime | date:'dd.MM.yyyy.' }}
              </td>
              <td>{{calculateDuration(rental.dateTime,rental.duration)}}</td>

            </tr>
            <tr *ngIf="paginatedRentals.length === 0">
              <td [attr.colspan]="3" class="text-center nodata">
                No data to display!
              </td>
            </tr>
          </tbody>
        </table>
      
        <nav aria-label="Page navigation" >
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPageRentals === 1">
              <a class="page-link" (click)="changePageRentals(currentPageRentals - 1)">Previous</a>
            </li>
      
            <li 
              *ngFor="let page of pagesRentals" 
              class="page-item" 
              [class.active]="page === currentPageRentals"
            >
              <a class="page-link" (click)="changePageRentals(page)">{{ page }}</a>
            </li>
      
            <li class="page-item" [class.disabled]="currentPageRentals === totalPagesRentals">
              <a class="page-link" (click)="changePageRentals(currentPageRentals + 1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>

</div>
</div>

<div *ngIf="loading" class="d-flex justify-content-center spinner noContent">
    <div class="spinner-border sp" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>



<div #addVehicleModal class="modal fade" id="addMalfunctionModal" tabindex="-1" aria-labelledby="addMalfunctionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMalfunctionModalLabel">Add new malfunction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form class="d-flex flex-column gap-2" [formGroup]="selectedForm">
            <div class="form-floating">
              <input type="datetime-local" class="form-control form-control-sm w-100" id="priceInput" placeholder="Date" formControlName="dateTime">
              <label for="priceInput">Date</label>
            </div>
        
            <div class="form-floating">
              <textarea class="form-control w-100" id="description" placeholder="Description" formControlName="description" style="height: 150px;"></textarea>
              <label for="description">Description</label>
            </div>
            
          </form>
        
          <div *ngIf="networkError" class="alert alert-danger alert-dismissible fade show fileError" role="alert">
            Failed to add malfunction. Please try again! 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="dismiss()"></button>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" [disabled]="selectedForm.invalid" class="btn btn-primary" (click)="addMalfunctionToSystem()">Save changes</button>
        </div>
      </div>
    </div>
  </div>