.noContent
{
    height: 90vh;
    
    align-content: center;
    justify-items: center;
}



img{
    height: 70%;
    width:80% ;
}

.wrapper
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rw1
{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    
}

.rw2
{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.rwmanu
{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.top {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-right: 20px;
}

.switcher {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.active-tab {
    color: rgb(59, 59, 227);
    border-bottom: 2px solid rgb(59, 59, 227);
}
h3 {
    font-weight: bold;
   
}

.mgtop{
    margin-top: -37px;
}


table td, table th {
    border-bottom: none !important;
  }
  .page-item
{
  cursor: pointer;
}


.pagination {
    display: flex;
    gap: 5px;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: center;
  }
  
  .pagination button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .pagination button:hover {
    background-color: #f0f0f0;
  }
  
  .pagination span {
    padding: 5px 10px;
    font-size: 14px;
  }


  table {
    width: 100%;
  
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .table {
    width: 98%;
    margin: 20px auto;
    margin-left: 15px;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
   
    margin-right: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f4f4f4;
  }
  .nodata
{
  font-size:20px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}

.rentals
{
    margin-left: -15px !important;
}

.rentals1
{
    margin-left:0px !important;
}

.user-badge {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  background-color: var(--bs-info-bg-subtle);
  color: var(--bs-info-text-emphasis);
  overflow: hidden; 
}
.user-badge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
  
  .bgAdmin
  {
    background-color: var(--bs-info-bg-subtle) !important;
    color: var(--bs-info-text-emphasis) !important;
  }

  .rw
{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}


  .search{
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-right: 25px;
    border: 1px solid #ccc;;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}


.search-bar
{

    margin-left: 10px;
    width: 80%;
    box-sizing: border-box;
    	border: 2px solid #ccc;
    	border-radius: 10px;
    	font-size: 15px;
    	background-color: white;
        background-size: 40px 30px;
    	background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/652/218/small_2x/magnifying-glass-icon-isolated-on-white-background-search-illustration-vector.jpg");
    	background-position: 10px 5px; 
    	background-repeat: no-repeat;
    	padding: 10px 10px 10px 55px;
        height: 40px;
}

.search1
{
    margin-left: 30px !important;
}
.search-bar1
{
    width: 60% !important;
}

.mgleft
{
  margin-left: 40px;
}
  
