  <main>
    <div class="container">
      <div class="row1">
        <img class="image" src="https://static.vecteezy.com/system/resources/previews/023/033/032/non_2x/astronaut-or-cosmonaut-repair-satellite-or-spaceship-with-floating-at-space-for-under-construction-error-page-empty-state-illustration-vector.jpg">
        <div class="col-md-6 align-self-center">
          <h1>404</h1>
          <h2>UH OH! You're lost.</h2>
          <p>The page you are looking for does not exist.
            How you got here is a mystery. But you can click the button below
            to go back to the homepage.
          </p>
          <button class="button" (click)="returnHome()">HOME</button>
        </div>
      </div>
    </div>
  </main>