<div class="side">
    <div class="logo">
      <img src="./assets/logo.png" alt="logo">
    </div>
  
    <div class="items">
      <div
        class="item"
        (click)="selectTab('cars')"
        [class.selected]="selectedTab === 'cars'  && showInfoTab===false"
      >
        <div [class.border-select]="selectedTab === 'cars' && showInfoTab===false"></div>
        <mat-icon
          class="icon"
          [class.active-icon]="selectedTab === 'cars' && showInfoTab===false"
          aria-hidden="false"
          aria-label="Vehicle icon"
          color="primary"
          fontIcon="drive_eta"
        ></mat-icon>
        <p [class.active-text]="selectedTab === 'cars' && showInfoTab===false" class="text">Cars</p>
      </div>
      <div
        class="item"
        (click)="selectTab('bikes')"
        [class.selected]="selectedTab === 'bikes'"
      >
        <div [class.border-select]="selectedTab === 'bikes'"></div>
        <mat-icon
          class="icon"
          [class.active-icon]="selectedTab === 'bikes'"
          aria-hidden="false"
          aria-label="Vehicle icon"
          color="primary"
          fontIcon="pedal_bike"
        ></mat-icon>
        <p [class.active-text]="selectedTab === 'bikes'" class="text">E-Bikes</p>
      </div>
      <div
        class="item"
        (click)="selectTab('scooters')"
        [class.selected]="selectedTab === 'scooters'"
      >
        <div [class.border-select]="selectedTab === 'scooters'"></div>
        <mat-icon
          class="icon"
          [class.active-icon]="selectedTab === 'scooters'"
          aria-hidden="false"
          aria-label="Vehicle icon"
          color="primary"
          fontIcon="electric_scooter"
        ></mat-icon>
        <p [class.active-text]="selectedTab === 'scooters'"  class="text">E-Scooters</p>
      </div>
      <div *ngIf="showInfoTab==true"
        class="item"
        (click)="selectTab('details')"
        [class.selected]="showInfoTab==true"
      >
        <div [class.border-select]="showInfoTab==true"></div>
        <mat-icon
          class="icon"
          [class.active-icon]="showInfoTab==true"
          aria-hidden="false"
          aria-label="Info icon"
          color="primary"
          fontIcon="info"
        ></mat-icon>
        <p [class.active-text]="showInfoTab==true" class="text">Details</p>
      </div>
      <div
        class="item space"
        (click)="selectTab('manufacturer-add')"
        [class.selected]="selectedTab === 'manufacturer-add'"
      >
        <div [class.border-select]="selectedTab === 'manufacturer-add'"></div>
        <mat-icon
          class="icon"
          [class.active-icon]="selectedTab === 'manufacturer-add'"
          aria-hidden="false"
          aria-label="Vehicle icon"
          color="primary"
          fontIcon="add_business"
        ></mat-icon>
        <p [class.active-text]="selectedTab === 'manufacturer-add'" class="text">Manufacturers</p>
      </div>
      
      <div
        class="item"
        (click)="selectTab('accounts')"
        [class.selected]="selectedTab === 'accounts'"
      >
        <div [class.border-select]="selectedTab === 'accounts'"></div>
        <mat-icon
          class="icon"
          [class.active-icon]="selectedTab === 'accounts'"
          aria-hidden="false"
          aria-label="Vehicle icon"
          color="primary"
          fontIcon="manage_accounts"
        ></mat-icon>
        <p [class.active-text]="selectedTab === 'accounts'" class="text">Accounts</p>
      </div>
      
      <div class="spacer"></div>
      <div class="item logout" (click)="logout()">
        <mat-icon
          class="icon"
          aria-hidden="false"
          aria-label="Vehicle icon"
          color="primary"
          fontIcon="logout"
        ></mat-icon>
        <p class="text">Logout</p>
      </div>
    </div>
  </div>
  