<div class="wrapper">
    <operator-header
    [searchBy]="'Search by client name, vehicle ID...'"
    [title]="'Rentals'"
    (queryChanged)="search($event)"
    (typesChanged)="changeType($event)"
    [count]="this.rentals.length"
    ></operator-header>

    <div *ngIf="loading" class="d-flex justify-content-center spinner noContent">
        <div class="spinner-border sp" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="rw">
        <!-- table -->
        <div class="r1 cl">
            <div class="top rentals1">
                <div class="switcher">
                  <h3 class="active-tab">Rentals</h3>
                </div>
              </div>

              <div class="table col rentals">
                <table id="rentals-table" class="table">
                  <thead>
                    <tr>
                    <th>Client</th>
                    <th *ngIf="carsSelected">Licence</th>
                    <th>Vehicle ID</th>
                    <th>Date</th>
                    <th>Duration</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rental of rentals;let i = index" (click)="setMapLocation(rental,i)"
                    [ngClass]="{'selectedRow': selectedRowIndex === i}"
                    >
                        <td class="rw" > 
                            <div class="user-badge">
                              <img *ngIf="rental.client.image" [src]="rental.client.image"  />
                              <span *ngIf="!rental.client.image">{{ rental.client.name.charAt(0) | uppercase }}</span>
                            </div>
                            {{rental.client.name+" "+rental.client.surname}}
                            </td>
                          <td *ngIf="carsSelected"> 
                            {{ rental.licenceNumber}}
                          </td>
                          <td> 
                            {{ rental.vehicleName }}
                          </td>
                      <td> 
                        {{ rental.dateTime | date:'dd.MM.yyyy.' }}
                      </td>
                      <td>{{calculateDuration(rental.dateTime,rental.duration)}}</td>
        
                    </tr>
                    <tr *ngIf="rentals.length === 0">
                      <td [attr.colspan]="carsSelected?5:4" class="text-center nodata">
                        No data to display!
                      </td>
                    </tr>
                  </tbody>
                </table>
              
                <nav aria-label="Page navigation" >
                  <ul class="pagination">
                    <li class="page-item" [class.disabled]="currentPageRentals === 1">
                      <a class="page-link" (click)="changePageRentals(currentPageRentals - 1)">Previous</a>
                    </li>
              
                    <li 
                      *ngFor="let page of pagesRentals" 
                      class="page-item" 
                      [class.active]="page === currentPageRentals"
                    >
                      <a class="page-link" (click)="changePageRentals(page)">{{ page }}</a>
                    </li>
              
                    <li class="page-item" [class.disabled]="currentPageRentals === totalPagesRentals">
                      <a class="page-link" (click)="changePageRentals(currentPageRentals + 1)">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>      
        
        </div>

        <!-- Map -->
<div class="r2 cl">
    <div class="top rentals1 rentals2">
        <div class="switcher">
            <h3 class="active-tab">Map</h3>
        </div>
    </div>
    <div id="map1" class="small-map"></div>
  
</div>

    </div>

</div>
