.virtual-scroll-container {
    margin-top: 5px;
    height: 75vh; 
    width: 100%;
    overflow-y: auto;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
  }
.wrapper
{
    min-height: 100vh;
    padding-left: 15px;
}

.noManufacturers
{
    align-self: center;
    justify-self: center;
    margin-top: 20%;
    font-weight: bold;
    font-size: 25px;
}


.spinner
{
    color:#000;
    align-items: center;
    justify-content: center;
}
.sp{
    width: 2rem;
    height: 2rem;
}


