<div class="wrapper">
  <header-manufacturer 
      (queryChanged)="search($event)" 
      [count]="manufacturers.length" 
      (typesChanged)="changeType($event)" 
      (addManufacturerOutput)="addManufacturer($event)">
  </header-manufacturer>

  <p *ngIf="manufacturers.length == 0 && !loading" class="noManufacturers">No manufacturers to show!</p>


  <cdk-virtual-scroll-viewport 
  itemSize="120" 
  class="virtual-scroll-container"
  (scrolledIndexChange)="onScroll($event)">
  
  <div class="tabs" *cdkVirtualFor="let row of visibleRows; let i = index">
    <ng-container *ngFor="let manufacturer of row">
        <manufacturer-tab 
        [manufacturer]="manufacturer" 
        (removeManu)="showDeleteVehicleModal(manufacturer)" 
        (updateManu)="updateManufacturer($event)"
        [type]="selectedVehicleType">
    </manufacturer-tab>
    </ng-container>
  </div>

</cdk-virtual-scroll-viewport>


  <div *ngIf="loading" class="d-flex justify-content-center spinner">
    <div class="spinner-border sp" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

  <div #removeManufacturerModal class="modal fade" id="removeManufacturerModal" tabindex="-1" aria-labelledby="removeManufacturerModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="removeManufacturerModalLabel">Remove Manufacturer</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to remove this manufacturer and all its vehicles from the system?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary" (click)="removeManufacturer()">Yes</button>
              </div>
          </div>
      </div>
  </div>

  <div #successModal class="modal fade" id="successModal" tabindex="-1" aria-labelledby="removeManufacturerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeManufacturerModalLabel">Remove Manufacturer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{error?"Error occured. Please try again!":"Successfully deleted manufacturer!"}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
</div>

<error-modal #errorModal>
    
</error-modal>



