<div class="top col">
  <div class="col switcher">
    <h3 id="clients-tab" class="active-tab">{{type!=='Car'?type:'E-Car'}} manufacturers</h3>
  </div>
</div>

<div class="search col">
  <input type="text" class="search-bar" (input)="search($event)"
   placeholder="Search by name..." />
   <div class="form-floating slct">
    <select class="form-select w-300" id="manuInput" (change)="select($event)">
      <option>E-Car</option>
      <option>E-Bike</option>
      <option>E-Scooter</option>
    </select>
    <label for="manuInput">Select type</label>
  </div>
  
   <div class="buttons">    
  
  <button type="button" data-bs-toggle="modal" data-bs-target="#addManufacturerModal" mat-raised-button class="btn btn-primary">
      Add manufacturer <span class="badge text-bg-warning bdge">+</span>
    </button>

</div>
</div>

<p class="p">{{count}} manufacturers to show</p>


<manufacturer-modal #manufacturerModal1
(addManufacturerFn)="addManufacturer($event)"
[update]="false">

</manufacturer-modal>
