.wrapper{
    background-color:rgba(0, 0,0, .005);
    min-height: 95vh;
}
.top {
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    justify-content: space-between;
    margin-right: 20px;
}

.switcher {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.plus
{
    font-size: 19px;
    margin-right: 10%;
    margin-left: 0;
}

.top button {
    height: 40px;
    min-width: 15%;
    border-radius: 12px;
    background-color: rgb(59, 59, 227);
    margin-top: 17px;
}

.top button:hover {
    background-color: rgba(59, 59, 227,.8);
}

.top h3 {
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 5px;
    transition: color 0.3s, border-bottom 0.3s;
}

.spinner
{
    color:#000;
    align-items: center;
    justify-content: center;
}
.sp{
    width: 2rem;
    height: 2rem;
}

.tab {
    border-bottom: 2px solid transparent;
}

.tab:hover {
    color: #0c47a1;
    border-bottom: 2px solid rgb(59, 59, 227);
}

.active-tab {
    color: rgb(59, 59, 227);
    border-bottom: 2px solid rgb(59, 59, 227);
}


.search{
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #ccc;;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}


.search-bar
{
  margin-top: 9px;
    margin-left: 10px;
    width: 60%;
    box-sizing: border-box;
    	border: 2px solid #ccc;
    	border-radius: 10px;
    	font-size: 15px;
    	background-color: white;
        background-size: 40px 30px;
    	background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/652/218/small_2x/magnifying-glass-icon-isolated-on-white-background-search-illustration-vector.jpg");
    	background-position: 10px 5px; 
    	background-repeat: no-repeat;
    	padding: 10px 10px 10px 55px;
        height: 40px;
}
.select-bar
{
    width: 20%;
    font-size: 17px;
    margin-right: 20px;
    border-color: #ccc;
    border-radius: 10px;
    padding: 10px;
}





  table {
    width: 100%;

    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .table {
    width: 98%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
   
    margin-right: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f4f4f4;
  }
  
  button {
    border: none;
    min-width: 75px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: default;
  }
  
  .blocked.true, .verified.true {
    background-color: limegreen;
    color: #fff;
  }
  
  .blocked.false, .verified.false {
    background-color: #e74c3c;
    color: #fff;
  }
  .blocked.trueno, .verified.trueno {
    background-color: limegreen;
    color: #fff;
  }
  
  .blocked.falseno, .verified.falseno {
    background-color: #e74c3c;
    color: #fff;
  }


  .blocked.true:hover, .verified.true:hover {
    background-color: green;
  }
  
  .blocked.false:hover, .verified.false:hover {
    background-color: #e20900;
  }
  
  .pagination {
    display: flex;
    gap: 5px;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: center;
  }
  
  .pagination button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .pagination button:hover {
    background-color: #f0f0f0;
  }
  
  .pagination span {
    padding: 5px 10px;
    font-size: 14px;
  }

  .slct
  {
    width: 20%;
    margin-right: 12px;
  }
  
  .bdge
{
    font-size: 15px;
    width: 90px;
    font-weight: bold;
}
.button{
  font-size: 16px;
  background-color: rgb(59, 59, 227) !important;
}

.page-item
{
  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: flex-end; 
  width: 100%; 
}


.nodata
{
  font-size:20px;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
}

.rw
{
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.user-badge {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  background-color: var(--bs-info-bg-subtle);
  color: var(--bs-info-text-emphasis);
  overflow: hidden; 
}

.bgManager
{
  background-color: var(--bs-info-bg-subtle) !important;
  color: var(--bs-info-text-emphasis) !important;
}
.bgOperator
{
  background-color: var(--bs-secondary-bg-subtle) !important;
  color: var(--bs-secondary-text-emphasis) !important;
}
.bgManager
{
  background-color: var(--bs-warning-bg-subtle) !important;
  color: var(--bs-warning-text-emphasis) !important;
}

.user-badge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


table td, table th {
  border-bottom: none !important;
}

.text-end {
  text-align: right;
  padding-right: 60px !important; 
}

.bdgbtn
{
  font-size: 18px;
}



