<div class="wrapper">
    <operator-header
    [searchBy]="'Search by name, surname...'"
    [title]="'Clients'"
    [type]="''"
    [showSelect]="false"
    [toShow]="'clients'"
    (queryChanged)="search($event)"
    [count]="this.clients.length"
    ></operator-header>

    <div *ngIf="loading" class="d-flex justify-content-center spinner noContent">
        <div class="spinner-border sp" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

</div>
